<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <label for="team[name]">Team name: </label>
  <input type="text" name="team[name]"><br>
  <label for="team[motto]">Team motto: </label>
  <input type="text" name="team[motto]"><br>

  <label for="heroes[][name]">Hero's name: </label>
  <input type="text" name="heroes[][name]"><br>
  <label for="heroes[][power]">Hero's power: </label>
  <input type="text" name="heroes[][power]"><br>
  <label for="heroes[][biography]">Hero's biography: </label>
  <input type="text" name="heroes[][biography]"><br

  <label for="heroes[][name]">Hero's name: </label>
  <input type="text" name="heroes[][name]"><br>
  <label for="heroes[][power]">Hero's power: </label>
  <input type="text" name="heroes[][power]"><br>
  <label for="heroes[][biography]">Hero's biography: </label>
  <input type="text" name="heroes[][biography]"><br>

  <label for="heroes[][name]">Hero's name: </label>
  <input type="text" name="heroes[][name]"><br>
  <label for="heroes[][power]">Hero's power: </label>
  <input type="text" name="heroes[][power]"><br>
  <label for="heroes[][biography]">Hero's biography: </label>
  <input type="text" name="heroes[][biography]"><br>

  <input type="submit">
</form>
